html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
  font-family: helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  word-spacing: 1.5px;
  font-family: 'Unbounded', cursive;
}

a {
  font-family: 'Unbounded', cursive;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0);
  padding: 4vh;
}

#menu-icons, #right{
  flex: 1;
}

#collect-icon {
  margin-left: 5px;
}

#title{
  font-size: 20px;
  word-spacing: 3px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0);
  /* color: black;
  background-color: rgba(0,0,0,0); */
}

canvas {
  display: flex;
  justify-content: center;
  border: solid 1.5px black;
  /* margin-left: 40%;
  margin-top: 5%; */
  margin-right: none;
  /* box-shadow: 4px 4px 0px rgb(0, 0, 0); */
}

.main-container{
  display: flex;
  justify-content: space-evenly;
  padding-top: 3.5%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  /* padding:2%; */
}

.ui-container{
  display: flex;
  flex-direction: column;
  gap: 4%;
  margin-top: 1%;
}

#checkbox-red{
  padding-left: 10px;
}

/* .canvas-container{
  padding-left: 4%;
} */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  height: min-content;
  margin-top: 4%;
}



.base-sliders, .eye-sliders, .nose-sliders, .mouth-sliders, .stroke-sliders {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 7px;
}

/* #canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 40vw;
  margin-top: 2vh;
  margin-right: 2vw;
} */


    /* typography */
    input, button, label {
      /* font-family: helvetica, sans-serif; */
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .25px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    span {
      margin-left: 10px;
    }

    /* Style the slider */
    input[type="range"] {
      -webkit-appearance: none;
      width: 100px;
      height: 8px;
      background-color: #000000;
      border-radius: 5px;
      outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background-color: #ffffff;
      outline: 1.5px solid black;
      cursor: pointer;
      border-radius: 50%;
    }

    /* input[type="range"]::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background-color: #000;
      cursor: pointer;
      border-radius: 50%;
    } */

    /* Style the checkbox */
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      border-radius: 0px;
      outline: 1.5px solid rgb(0, 0, 0);
      cursor: pointer;
    }

    input[type="checkbox"]:checked {
      background-color: #000000;
    }

    #checkbox-red input[type="checkbox"]{
      outline: 1.5px solid rgb(0, 0, 0);
    }
    
    #checkbox-red input[type="checkbox"]:checked{
      background-color: red;
      outline: 1.5px solid red;
    }

    button {
      font-family: 'Unbounded', cursive;
      word-spacing: 1.5px;

      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 0px 0px;
      cursor: pointer;
      border-radius: 20px;

      background-color: #ffffff;
      border: 1.5px solid black;
      color: black;
      box-shadow: 3px 3px 0px rgb(0, 0, 0);
    }

    button:hover {
      background-color: #ffffff;
      border: 1.5px solid black;
      color: rgb(0, 0, 0);
      box-shadow: 0px 0px 0px rgb(0, 0, 0);
      transform: translate(3px, 3px);
    }

    #view-button {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0);
      box-shadow: 3px 3px 0px rgb(0, 0, 0);
    }
    
    #view-button:hover {
      background-color: #e2e2e2;
      box-shadow: 0px 0px 0px rgb(0, 0, 0);
      transform: translate(3px 3px);
    }

    #home-icon {
      height: 20px;
      width: auto;
      filter: opacity(40%);
    }

    #home-icon:hover {
      filter: opacity(100%);
    }

    #collect-icon {
      height: 20px;
      width: auto;
      filter: opacity(60%);
    }

    #collect-icon:hover {
      filter: opacity(100%);
    }

    #pen-icon {
      height: 20px;
      padding-left: 5px;
      width: auto;
      filter: opacity(100%);
    }

    #pen-icon:hover {
      filter: opacity(100%);
    }


.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 0;
}


