html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: url("../assets/website/cursor-1-smallest.png"), auto;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../assets/website/cursor-1-smallest.png"), auto;
}
