html, body {
  background-color: #d8d8d8;
  font-family: 'VT323', monospace;
  cursor: url("../assets/website/cursor-1-smallest.png"), auto;
}

.main-container {
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
}

.sub-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  height: 23vw;
  width: auto;
  padding: 5vw;
  cursor: url("../assets/website/cursor-pointer-smallest.png"), auto;
}

iframe {
  /* transform:scale(0.7); */
  height: 500px;
  width:500px;
  background-color: black;
  border: solid black;
  border-width: 20px 30px;
  margin-top: 50px;
  /* -moz-transform-scale(0.9); */
}

#metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}



.container {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  /* background-color: rgba(255, 255, 255, 0.248); */
}

.container div{
  background-color: rgba(141, 93, 93, 0);
  border: 2px solid black;
  aspect-ratio: 1;
}

.screenshots {
  height: 250px;
  width: auto;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 40px;
}


/* .d-pad {
  position: absolute;
  height: 11vw;
  width: 11vw;
  top: 59.5%;
  left: 9%;
  border-radius: 100vw;
}
  
.rut-one {
  position: absolute;
  height: 93%;
  width: 3.6vw;
  top: 3%;
  left: 30%;
  border-radius: 0.5vw;
  background: #090708;
}
  
.rut-two {
  position: absolute;
  width: 90%;
  height: 3.6vw;
  left: 1%;
  top: 33%;
  border-radius: 0.5vw;
  background: #090708;
}

.cross-one {
  position: absolute;
  height: 86%;
  width: 3vw;
  top: 8%;
  left: 30%;
  border-radius: 0.5vw;
  background: #302f36;
  box-shadow: 0.2vw 0.2vw 5vw rgba(0, 0, 0, 0.25) inset,
    -0.2vw 0.2vw 0.5vw rgba(255, 255, 255, 0.5) inset;
}

.cross-two {
  position: absolute;
  width: 86%;
  height: 3vw;
  top: 37%;
  left: 1%;
  border-radius: 0.5vw;
  background: #302f36;
  box-shadow: 0.2vw 0.2vw 5vw rgba(0, 0, 0, 0.25) inset,
    -0.2vw 0.2vw 0.5vw rgba(255, 255, 255, 0.5) inset;
}

.divet {
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 37%;
  left: 30%;
  border-radius: 5vw;
  background: #302f36;
  box-shadow: 0.2vw -0.2vw 0.1vw rgba(0, 0, 0, 0.25) inset,
    0.2vw -0.2vw 1vw rgba(255, 255, 255, 0.2) inset;
} */